*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    min-height: 100vh;
    font-family: sans-serif;
    background-color: #ffffff;
}

/* --- HEADER & NAV --- */
header{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

header h2{
    color: white;
    font-size: 24px;
}

nav{
    display: flex;
    gap: 30px;
}

a{
    color: white;
    text-decoration: none;
}

header a:hover {
    color: grey;
}

/* --- TEXTE & CORPS DE PAGE --- */
main{
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

main h2{
    color: #000000;
    margin-bottom: 20px;
}

p{
    color: black;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

ul{
    margin-bottom: 30px;
    padding-left: 20px;
}

ul li{
    margin-bottom: 8px;
}

/* --- BOUTON CV --- */
.btn-cv {
    display: inline-block;
    padding: 12px 24px;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 600;
    margin-bottom: 60px; /* Ajoute de l'espace avant la section contact */
}

.btn-cv:hover {
    background: grey;
}

/* --- SECTION CONTACT (EN BAS) --- */
#contact-section {
    border-top: 1px solid #e0e0e0; /* Petite ligne discrète pour séparer */
    padding-top: 40px;
}

.link-contact {
    color: black;
    text-decoration: underline;
}